
/*DISEÑO DEL FOOTER*/
footer {
    border-top: 2px solid #ffc107;
}

footer h5 {
    color: #ffc107;
    font-size: 1.1rem;
    margin-bottom: 15px;
}

footer p, footer a {
    font-size: 0.9rem;
}

footer a:hover {
    color: #ffc107;
}

footer .bi {
    font-size: 1.5rem;
}


/*ESTILOS DE BARRA DE NAVEGACIÓN*/
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}




.accordion-button {
    background-color: #f8f9fa;
    color: #212529;
    font-weight: bold;
    padding: 1.5rem;
}

.accordion-button:not(.collapsed) {
    background-color: #e9ecef;
    color: #dc3545;
}

.accordion-body {
    padding: 1.5rem;
}

.accordion-item {
    border: none;
    border-bottom: 1px solid #dee2e6;
}

.accordion-item:first-of-type {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.accordion-item:last-of-type {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.hymn-section {
    background-color: #f8f9fa;
    padding: 2rem;
    border-radius: 0.5rem;
}

.hymn-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.hymn-verse {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.hymn-title {
    color: #dc3545;
    font-weight: bold;
    margin-bottom: 1rem;
}

.hymn-lyrics {
    line-height: 1.6;
}


.hymn-section {
    background-color: #f8f9fa;
    padding: 2rem;
    border-radius: 0.5rem;
}

.hymn-card {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    max-width: 800px;
}

.hymn-content {
    width: 100%;
}

.hymn-lyrics {
    line-height: 1.6;
}

.hymn-lyrics strong {
    color: #dc3545;
    font-weight: bold;
    display: block;
    margin-bottom: 1rem;
}



/* Estilo de los menús desplegables */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #446280; /* Gris claro */
    border: 1px solid #ccc; /* Borde gris suave */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 0;
}

/* Estilo de los elementos dentro del menú */
.dropdown-item {
    color: #ffffff; /* Color de texto gris oscuro */
    padding: 8px 20px;
    text-align: left;
}

/* Cambio de color cuando se pasa el mouse sobre un item */
.dropdown-item:hover {
    background-color: #dc3545; /* Rojo (similar al color principal de la navbar) */
    color: white; /* Texto blanco al pasar el mouse */
}

/* Agregar transiciones suaves */
.dropdown-item {
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Para dar un mejor aspecto a la navbar */
.navbar {
    background-color: #dc3545; /* Rojo */
}

.navbar-brand {
    color: white !important;
}

.navbar-toggler-icon {
    background-color: white;
}
